* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}
.nav {
  display: flex;
  background-color: #f55a5a;
  height: 55px;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
}

.nav > h3 {
  font-size: 25px;
  line-height: 18px;
  padding-left: 10px;
  color: #ffffff;
  font-weight: 500;
  align-self: center;
}

.card {
  display: flex;
  margin: 50px;
  justify-content: center;
}

.image-box {
  margin-right: 30px;
}

.card-image {
  width: 300px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.details {
  width: 600px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 12px;
}

.loc-pin {
  width: 12px;
  height: 16px;
  margin-top: 10px;
  margin-left: 10px;
}

.location {
  display: inline;
  font-size: 15px;
  line-height: 18px;
  padding: 20px 5px;
  text-transform: uppercase;
  color: #2b283a;
  font-weight: 400;
  margin-top: 10px;
}

.maps {
  font-size: 15px;
  line-height: 12px;
  color: #918e9b;
  font-weight: 400;
  padding: 20px 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.place {
  font-size: 35px;
  line-height: 60px;
  color: #2b283a;
  padding: 10px 0px;
  margin-left: 10px;
}

.date {
  font-size: 15px;
  font-weight: 700;
  padding: 5px 0px;
  margin-left: 10px;
}

.about {
  font-size: 15px;
  font-weight: 400;
  max-width: 550px;
  padding: 10px 0px;
  color: #2b283a;
  margin-left: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer > a {
  padding: 10px;
  display: block;
  margin: 0 auto;
  align-self: center;
  text-decoration: none;
  font-size: 20px;
}

@media (min-width: 320px) {
  .card {
    display: flex;
    flex-direction: column;
  }
  .card-image {
    width: 300px;
  }
  .details {
    width: 300px;
    padding: 5px;
    margin-top: 10px;
  }
  .place {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: row;
  }
  .card-image {
    width: 250px;
  }
  .details {
    width: 600px;
    padding: 5px;
    margin-top: 0;
  }
  .place {
    font-size: 35px;
    line-height: 60px;
    color: #2b283a;
    padding: 20px 0px;
  }
}

@media (min-width: 1024px) {
  .card {
    display: flex;
    flex-direction: row;
  }
  .card-image {
    width: 300px;
  }
  .details {
    width: 600px;
    padding: 5px;
    margin-top: 0;
  }
  .place {
    font-size: 35px;
    line-height: 60px;
    color: #2b283a;
    padding: 20px 0px;
  }
}
